snippet jt "jest test"
  describe("",(${1})=>{
    ${2}
  })

snippet int "interface"
	interface ${1} {
		${2}
	}

snippet csl "console log"
	console.log(${1})

snippet doc "documentation"
	/**
	 * ${1}
	 */

snippet fn "function"
	function ${1}(${2})${3}{
		${4}
	}

snippet fori "for with index"
	for(let i = 0; i<${1}; i++){
		${2}
	}

snippet if "if statement"
	if(${1}){
		${2}
	}


