snippet jt "jest test"
  describe("",(${1})=>{
    ${2}
  })


snippet int "interface"
	interface ${1} {
		${2}
	}


snippet csl "console log"
	console.log(${1})

snippet doc "documentation"
	/**
	 * ${1}
	 */

snippet fn "function"
	function ${1}(${2})${3}{
		${4}
	}


